body{
	text-align: center;
	background-color:gray;
	margin:auto;
}

table{
	text-align:center;
	margin:auto;
	margin-top: 5%;
}

.invalid{
	background-color: #FB001E;
	border:2px solid black;
}
input, select{
	margin-top: 10px;
}
fieldset{
	width: 50%;
	margin: auto;
	border-style: dashed;
	border-width: 5px;
	background: linear-gradient(135deg, #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%);
}

img{
	width:120px;
	height:90px;
	margin: auto;
}