body{
	text-align: center;
	background-color:#af3452;
	margin:auto;
}

table{
	text-align:center;
	margin:auto;
	margin-top: 5%;
	width:90%;
}

.invalid{
	background-color: #FB001E;
	border:2px solid black;
}
input, select{
	margin-top: 10px;
}
fieldset{
	width: 95%;
	margin: auto;
	padding:10%;
	border-width: 5px;
	background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
}

img{
	width:120px;
	height:90px;
	margin: auto;
}
